main {
    padding: 0 2em;
}

main > div.row {
    position: relative;
    top: calc(50% - 198.6px);
}

div.row > div + div {
    margin-top: 7rem;
}

.error-code {
    font-size: 20rem;
}

.error-description {
    margin-top: 2rem;
    width: 80%;
}

a.btn-theme,
a.btn-theme:hover,
a.btn-theme:active,
a.btn-theme:visited {
    background-color: var(--theme);
    margin-top: 4rem;
}