main {
    padding: 2em;
}

/********** Entete de page **********/
header.entete {
    display: flex;
}

section.concours.col {
    display: flex;
    height: 11rem;
    padding: 0.5rem;
    box-sizing: content-box;
}

section.concours-infos {
    padding: 1rem 2rem;
}

h2.concours-titre,
p.concours-nombre-equipe {
    margin: 0;
}

div.concours-image {
    width: 11rem;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 6rem;
}


/* Les fichier de résultats et de sujet de concours */
section.fichier.col {
    display: flex;
    flex-direction: column;
    padding: 0;
}

section.fichier > a {
    flex-grow: 1;
    text-align: left;
    border-radius: 0;
}

section.fichier > a > p > img {
    height: 3rem;
    vertical-align: middle;
    margin-right: 1rem;
}


/* Les boutons d'action */
section.action > a {
    margin: 1em;
}



/********** La liste des équipes **********/
.text-theme {
    color: var(--theme);
}

div.ligne {
    display: flex;
}
div.equipe.col.l2 {
    background-color: var(--dark-1);
    padding: 1.5rem;
    margin: 1rem 1rem;
    display: flex;
    flex-basis: 22%;
}

div.equipe-avatar {
    width: 4rem;
    height: 4rem;
    background-color: var(--dark);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3rem;
    margin-right: 1.5rem;
}

h6.equipe-titre {
    font-weight: bold;
}




/********** La liste des joueurs sans équipe **********/
a.joueur.col.l2 {
    background-color: var(--dark-1);
    padding: 1rem;
    margin: 0.5rem;
    width: 15%;
    color: var(--white);
    text-align: center;
}



/********** Le modal de confirmation de suppression **********/
.modal {
    border-left: 5px solid var(--red);
}
.modal .modal-footer {
    padding: 0 2rem 2rem 2rem;
}
