main {
  padding: 0 2em;
  position: relative;
}

.logo{
  height: 4em;
  width: 4em;
  border-radius: 4em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em;
}
.top1{
  background-color: var(--gold);
  text-align: center;
}
.top2{
  background-color: var(--silver);
  text-align: center;
}
.top3{
  background-color: var(--bronze);
  text-align: center;
}
.horspod{
  background-color: var(--theme);
  text-align: center;
}


.nomequipe{
  font-size: 22px;
  font-weight: bold;
  margin: 1.2em 0;
}

.equipe{
  flex: 1 1 30%;
  max-width: calc(100% / 3 - 3 * 0.25em);
  background-color: var(--dark-2);
  margin: 0.5em;
  padding:0;
  display: flex;
}

.resultat{
  background-color: var(--dark);
  padding-top: 3em!important;
  display: flex;
  flex-wrap: wrap;
}

.podium{
  width: 15%!important;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0px;
  padding: 0.5em 0 !important;
  height: 100%;
}

/* .row {
    margin-left: 5em;
} */

.footer{
  position: absolute;
  bottom: 1em;
  right: 2em;
  padding: 0.5em;
}

/* .footer .row{
  margin: 0;
} */

main .footer .btn {
  margin: 0 0 0 1em;
  color: var(--dark);
}