<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ pageName }} | {{ application.nomA }}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ url_for('static', filename='lib/materialize/css/materialize.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/base.css') }}" type="text/css" rel="stylesheet">
        {% for style in styleFiles %}
        <link href="{{ url_for('static', filename='css/'+style) }}" type="text/css" rel="stylesheet">
        {% endfor %}
    </head>

    <body>

        <!-- Barre de navigation -->
        <header class="row">
            <h5 id="nom_application">
                    <a href="#" data-target="slide-out" class="z-depth-0 sidenav-trigger btn">
                        <i class="medium material-icons left">menu</i>
                    </a>
                {{ application.nomA }}
            </h5>
        </header>


        <!-- Sidenav (Menu) -->
        <ul id="slide-out" class="z-depth-2 sidenav">
            <li>
                <div class="user-view">
                    <svg>
                        <g xmlns="http://www.w3.org/2000/svg" transform="translate(0.000000,367.000000) scale(0.100000,-0.100000)" stroke="none" fill="currentcolor">
                            <path d="M0 2602 c0 -1023 1 -1070 18 -1085 23 -21 52 -22 78 -3 18 13 19 30 21 222 3 177 5 210 20 226 20 22 42 23 71 2 17 -12 22 -25 22 -62 0 -60 21 -92 60 -92 39 0 60 32 60 92 0 52 18 78 55 78 47 0 55 -22 55 -148 0 -134 11 -162 60 -162 36 0 60 32 60 81 0 59 57 91 94 53 13 -13 16 -47 16 -212 0 -221 6 -245 56 -250 54 -5 64 16 64 127 0 82 3 101 18 114 41 38 93 11 97 -49 1 -21 5 -49 9 -61 10 -31 49 -40 81 -19 l25 16 0 185 c0 179 1 184 22 199 31 22 51 20 76 -7 18 -19 22 -35 22 -88 0 -74 10 -89 57 -89 46 0 53 21 53 149 0 98 2 113 20 131 22 22 42 25 71 10 16 -9 19 -22 19 -78 0 -37 3 -77 6 -88 8 -29 47 -46 78 -35 29 12 36 29 36 96 0 61 17 85 59 85 46 0 51 -14 51 -144 0 -77 5 -130 13 -146 16 -31 61 -39 88 -14 16 15 19 31 19 124 0 112 7 133 47 145 17 4 29 -1 48 -19 21 -21 25 -35 25 -80 0 -61 16 -86 55 -86 50 0 55 18 55 196 0 162 0 165 25 189 29 30 49 31 75 5 19 -19 20 -33 20 -299 0 -303 1 -311 55 -311 51 0 55 15 55 225 0 107 4 205 10 219 12 33 52 43 85 22 22 -14 25 -24 25 -71 0 -62 16 -85 60 -85 40 0 60 32 60 97 0 55 14 73 58 73 42 0 52 -29 52 -157 0 -103 3 -122 18 -136 22 -20 52 -22 74 -5 13 11 25 53 28 100 0 15 33 38 54 38 13 0 30 -8 39 -18 15 -16 17 -47 17 -224 0 -186 2 -206 18 -221 26 -24 68 -21 86 5 12 16 16 47 16 115 0 100 10 123 55 123 36 0 55 -26 55 -76 0 -73 55 -109 100 -64 19 19 20 33 20 255 l0 235 26 17 c24 15 29 15 53 2 22 -12 27 -23 31 -70 6 -66 22 -89 61 -89 38 0 59 33 59 92 0 52 18 78 54 78 46 0 56 -27 56 -151 0 -130 11 -159 60 -159 36 0 60 32 60 81 0 59 57 91 94 53 13 -13 16 -46 17 -197 1 -100 1 -187 0 -193 -6 -48 46 -91 84 -71 32 16 35 27 35 128 0 103 12 129 56 129 37 0 55 -23 63 -84 4 -32 14 -62 22 -67 23 -14 55 -10 72 9 15 16 17 45 17 195 0 164 2 179 20 197 26 26 54 25 80 -2 16 -17 20 -35 20 -88 0 -75 10 -90 57 -90 46 0 53 20 53 154 0 113 1 116 26 132 19 13 32 15 52 8 26 -9 27 -13 32 -96 3 -48 11 -93 17 -99 19 -19 74 -15 89 6 8 11 14 44 14 76 0 65 16 89 59 89 46 0 51 -14 51 -144 0 -77 5 -130 13 -146 16 -31 61 -39 88 -14 16 15 19 31 19 124 0 112 7 133 47 145 17 4 29 -1 48 -19 21 -21 25 -35 25 -80 0 -61 16 -86 55 -86 50 0 55 18 55 196 0 162 0 165 25 189 29 30 49 31 75 5 19 -19 20 -33 20 -299 0 -301 2 -311 53 -311 51 1 52 5 57 235 5 200 7 218 24 231 49 36 96 -1 96 -74 0 -56 20 -82 63 -82 37 0 57 34 57 97 0 55 14 73 58 73 42 0 52 -29 52 -157 0 -103 3 -122 18 -136 44 -40 89 -12 98 58 4 28 13 56 22 63 23 17 56 15 75 -6 15 -16 17 -46 17 -218 0 -222 5 -244 60 -244 51 0 60 20 60 130 0 106 10 130 53 130 38 0 50 -16 58 -76 11 -81 54 -109 99 -64 20 20 20 33 20 1115 l0 1095 -3060 0 -3060 0 0 -1068z m216 -199 c10 -13 13 -60 14 -172 0 -171 -6 -191 -61 -191 -51 0 -59 27 -59 190 0 116 3 150 16 168 19 27 71 30 90 5z m2076 0 c16 -14 18 -34 18 -171 0 -131 -3 -158 -17 -174 -20 -22 -61 -23 -85 -1 -16 14 -18 34 -18 171 0 131 3 158 17 174 20 22 61 23 85 1z m922 1 c24 -24 23 -319 -1 -346 -18 -20 -63 -24 -81 -6 -17 17 -17 339 0 356 17 17 64 15 82 -4z m2078 -1 c16 -14 18 -34 18 -171 0 -131 -3 -158 -17 -174 -20 -22 -61 -23 -85 -1 -16 14 -18 34 -18 171 0 131 3 158 17 174 20 22 61 23 85 1z m-4604 -111 c19 -25 16 -206 -4 -226 -23 -24 -70 -20 -88 6 -19 27 -22 177 -5 209 20 38 70 43 97 11z m2080 0 c7 -10 12 -49 12 -107 0 -105 -13 -135 -60 -135 -47 0 -60 30 -60 135 0 91 8 117 40 128 21 7 53 -2 68 -21z m920 6 c8 -7 12 -43 12 -111 0 -112 -11 -137 -61 -137 -45 0 -59 31 -59 133 0 81 2 90 25 113 26 25 52 26 83 2z m2055 11 c34 -18 37 -28 37 -128 0 -106 -12 -131 -61 -131 -45 0 -59 31 -59 133 0 80 2 90 25 112 28 29 29 29 58 14z m-3919 -105 c20 -20 23 -201 4 -226 -22 -27 -53 -30 -81 -7 -26 19 -27 25 -27 113 0 106 13 136 60 136 16 0 36 -7 44 -16z m3000 0 c20 -20 23 -201 4 -226 -24 -30 -56 -31 -83 -4 -23 23 -25 32 -25 113 0 103 14 133 60 133 16 0 36 -7 44 -16z m-3680 -36 c20 -28 22 -171 3 -208 -15 -31 -66 -39 -91 -15 -23 23 -23 206 0 229 23 24 70 20 88 -6z m3000 0 c12 -16 16 -47 16 -108 0 -103 -13 -130 -65 -130 -47 0 -55 20 -55 130 0 50 5 100 10 111 15 28 74 26 94 -3z"/>
                            <path d="M252 1734 c-20 -14 -22 -23 -22 -119 0 -112 9 -135 54 -135 45 0 56 28 56 138 0 93 -2 102 -22 116 -12 9 -27 16 -33 16 -6 0 -21 -7 -33 -16z"/>
                            <path d="M2330 1730 c-17 -17 -20 -33 -20 -118 0 -111 13 -136 66 -130 40 4 54 38 54 136 0 75 -2 85 -25 107 -29 30 -49 31 -75 5z"/>
                            <path d="M3252 1734 c-20 -14 -22 -23 -22 -119 0 -112 9 -135 54 -135 45 0 56 28 56 138 0 93 -2 102 -22 116 -12 9 -27 16 -33 16 -6 0 -21 -7 -33 -16z"/>
                            <path d="M5330 1730 c-17 -17 -20 -33 -20 -118 0 -83 3 -102 18 -115 23 -21 52 -22 78 -3 16 12 20 29 22 108 3 83 1 96 -18 121 -25 32 -52 35 -80 7z"/>
                            <path d="M1412 1704 c-21 -15 -22 -21 -22 -179 0 -158 1 -164 22 -179 29 -21 51 -20 71 2 14 16 17 44 17 180 0 155 -1 161 -22 176 -12 9 -27 16 -33 16 -6 0 -21 -7 -33 -16z"/>
                            <path d="M4412 1704 c-21 -15 -22 -21 -22 -179 l0 -165 26 -17 c24 -15 29 -15 53 -2 l26 15 3 164 c3 158 2 166 -19 183 -26 21 -38 21 -67 1z"/>
                            <path d="M1867 1662 c-13 -15 -17 -39 -17 -115 0 -84 3 -100 20 -117 25 -25 41 -25 69 -2 19 15 22 27 22 102 1 117 1 117 -17 134 -21 21 -57 20 -77 -2z"/>
                            <path d="M4866 1664 c-12 -12 -16 -38 -16 -115 0 -86 3 -102 20 -119 25 -25 41 -25 71 -1 22 18 24 26 24 121 0 89 -2 103 -19 116 -26 18 -61 18 -80 -2z"/>
                            <path d="M1188 1593 c-31 -8 -40 -55 -36 -208 3 -131 5 -148 22 -161 27 -19 52 -18 76 6 18 18 20 33 20 175 0 142 -2 157 -20 175 -20 20 -29 22 -62 13z"/>
                            <path d="M4183 1588 c-30 -15 -35 -48 -31 -211 3 -122 5 -138 23 -151 27 -21 51 -20 75 4 18 18 20 33 20 175 0 142 -2 157 -20 175 -22 22 -35 24 -67 8z"/>
                        </g>
                    </svg>
                    <h5 class="nom-organisateur">{{ organisateur.loginO }}</h5>
                </div>
            </li>
            <li>
                <ul>
                    <li class="menu-item" menu-id="accueil"><a href="{{ url_for('accueil') }}"><i class="smal material-icons">home</i>Acceuil</a></li>
                    <li class="menu-item" menu-id="nouveauConcours"><a href="{{ url_for('nouveauConcours') }}"><i class="smal material-icons">fiber_new</i>Nouveau concours</a></li>
                    {% if organisateur.admin %}
                    <li class="menu-item" menu-id="organisateurs"><a href="{{ url_for('organisateurs') }}"><i class="smal material-icons">group</i>Organisateur</a></li>
                    {% endif %}
                    <li class="menu-item" menu-id="parametres"><a href="{{ url_for('parametres') }}"><i class="smal material-icons">settings</i>Paramètres</a></li>
                    <li class="menu-item"><a href="{{ url_for('logout') }}"><i class="smal material-icons">exit_to_app</i>Déconnexion</a></li>
                </ul>
            </li>
            <li>
                <br/>
                <div class="divider grey darken-3"></div>
            </li>
            {% if concoursActuel|length %}
            <li>
                <h6 class="nav-title">Concours</h6>
            </li>
            <li>
                <ul class="liste-concoursActuel">
                    {% for concours in concoursActuel %}
                    <li>
                        <a href="{{ url_for('ficheDetaillee', idConcours=concours.idC) }}" class="concours-link">{{ concours.nomC }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        </ul>


        <!-- Le corps principale -->

        <nav>
            <div class="nav-wrapper">
            <div class="col s12">
                {%- for breadcrumb in breadcrumbs -%}
                <a href="{{ breadcrumb.url }}" class="breadcrumb">{{ breadcrumb.text }}</a>
                {%- endfor -%}
            </div>
            </div>
        </nav>


        <main>
            {%block main%}
            {%endblock%}
        </main>

        <footer>
            <img src="{{ url_for('static', filename=dirImgLogo ~ 'IUT.png') }}" alt="logo de l'IUT informatique"/>
            <div>© 2019 Copyright Text</div>
        </footer>

        <!-- Les scripts -->
        {% block scripts %}
        {% endblock %}
        <script src="{{ url_for('static', filename='lib/materialize/js/materialize.js') }}"></script>
        <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
        <script>initColor("{{ organisateur.theme.couleurT }}");</script>
        <script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
        <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/jquery-3.3.1.min.js')}}"></script>

        {% for script in scriptFiles %}
        <script src="{{ url_for('static', filename='js/'+script) }}" type="text/javaScript"></script>
        {% endfor %}

    </body>
</html>
