{% extends "base.html" %}

{% block main %}

<h4>{{ pageName }}</h4>

<article class="gestionAdmin">
    <div class="listeAdmin">
        <ul>
            <li class="titrePartie">Administrateurs</li>
            {% for admin in administrateurs%}
            <li class="ligneOrga">{{admin.loginO}}
                <div>
                    {% if admin.id == current_user.id %}
                    <a><i class="little material-icons grey-text">arrow_downward</i></a>
                    <a><i class="little material-icons grey-text">delete</i></a>
                    {% else %}
                    <a href="{{ url_for('updateOrganisateur',idOrganisateur=admin.id)}}"><i class="little material-icons green-text">arrow_downward</i></a>
                    <a href="{{ url_for('organisateursDelete',idOrganisateur=admin.id)}}"><i class="little material-icons red-text">delete</i></a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
        </ul>
        <ul>
            <li class="titrePartie">Organisateurs</li>
            {% for orga in organisateurs%}
            <li class="ligneOrga">{{orga.loginO}}
                <div>
                    <a href="{{ url_for('updateOrganisateur',idOrganisateur=orga.id)}}"><i class="icon-update-admin little material-icons green-text">arrow_upward</i></a>
                    <a href="{{ url_for('organisateursDelete',idOrganisateur=orga.id)}}"><i class="icon-delete-admin little material-icons red-text">delete</i></a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="conteneurFormulaire">
        <form class="ajoutAdmin" action="{{ url_for('organisateurs') }}" method='POST' role="form">
        {{ form.csrf_token }}
        <div class="input-field">
            <i class="material-icons prefix">person</i>
            <label for="username">Identifiant<span class="label-required red-text"> *</span></label>
            {{ form.username(minlength=3, maxlength=20, class="validate white-text") }}
        </div>
        <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <label for="password">Mot de passe<span class="label-required red-text"> *</span></label>
            {{ form.password(minlength=8, maxlength=50, class="validate white-text" ) }}
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="filled-in" name="testAdmin" value="1" />
                    <span>Administrateur</span>
                </label>
            </div>
        </div>
        <button class="waves-effect waves-light btn card-panel green lighten-1 btn center enregistrer" type="submit" value="Enregistrer">Enregistrer</button>
    </form>
</div>
</article>

{% endblock %}
