{% extends "base.html" %}

{% block main %}

<!-- La partie application -->
{% if organisateur.admin %}
<article>
    <h4>Application</h4>
    <ul class="theme-liste">
        <li>
            <button id="newApp" class="theme tooltipped modal-trigger waves-effect waves-light" data-target="modalNewApplication" data-tooltip="Ajouter une nouvelle application" >
                <i class="material-icons">add</i>
            </button>
        </li>
        {% for appli in listeAppli %}
        <li class="contener-application">
                {% if appli.logoA is none %}
                <button idApplication="{{appli.idA}}" class="applicationsActuelles theme {{ 'active' if application.idA == appli.idA }} tooltipped theme-app" data-tooltip="{{appli.nomA}}"></button>
                {% else %}
                <button idApplication="{{appli.idA}}" class="applicationsActuelles theme {{ 'active' if application.idA == appli.idA }} tooltipped theme-app" data-tooltip="{{appli.nomA}}" style="background-image: url({{ url_for('static', filename=dirImgTheme ~ appli.logoA) }}); background-size: cover"></button>
                {% endif %}
            <ul id="CM-{{appli.idA}}" class="context-menu z-depth-2">
                <li>
                  <a class="waves-effect waves-light btn btn-ctxmenu" href="{{ url_for('choixApplication', idApplication=appli.idA) }}">Activer</a>
                </li>
                <li>
                    <button class="waves-effect waves-light btn modal-trigger btn-ctxmenu" data-target="modals-{{appli.idA}}">Modifier</button>
                </li>
                <li>
                  <button class="waves-effect waves-light btn modal-trigger btn-ctxmenu" data-target="modalSuprApplication" {{ "disabled" if application.idA == appli.idA }} >Supprimer</button>
                </li>
                <li>
                    <div class="ctxmenu-arrow"></div>
                </li>
            </ul>
            <ul class="modal" class="modalModifierApplication" id="modals-{{appli.idA}}">
                <h5>Modifier Application</h5>
                <form action="{{ url_for('updateApplication', idApplication=appli.idA) }}" method="POST" enctype="multipart/form-data">
                    <section class="center">
                        <div class="input-field row">
                            <label class="active" for="team-name">Nom <span class="red-text">*</span></label>
                            {{ form_application.nom(type="text", class="grey-text text-lighten-5 validate", value=appli.nomA) }}
                        </div>
                        <div class="input-avatar-container row">
                            <label for="app-logo2-{{appli.idA}}" class="input-avatar z-depth-2 btn tooltipped" data-position="right" data-tooltip="Changer de logo" style="background-image: url({{ url_for('static', filename=dirImgTheme ~ appli.logoA) }}); background-size:cover"></label>
                            {{ form_application.logo(type="file", id="app-logo2-" ~ appli.idA, hidden="True", accept="image/*") }}
                        </div>
                        <div class="input-avatar-container row">
                            <label for="app-background2-{{appli.idA}}" class="fond input-avatar input-fond z-depth-2 btn tooltipped" data-position="right" data-tooltip="Changer de fond" style="background-image: url({{ url_for('static', filename=dirImgTheme ~ appli.backgroundConnexionA) }}); background-size:cover"></label>
                            {{ form_application.fond(type="file", id="app-background2-" ~ appli.idA, hidden="True", accept="image/*") }}
                        </div>
                    </section>
                    <section class="ligneBtn">
                        <button type="reset" class="modal-close waves-effect waves-red btn-flat red">Annuler</button>
                        <button type="submit" class="btn green grey-text text-darken-4 waves-effect waves-darken">Ajouter</button>
                    </section>
                </form>
            </ul>
        </li>

        {% endfor %}
    </ul>
</article>
{% endif %}

<!-- La liste des couleurs -->
<article>
    <h4>Thème</h4>
    <ul class="theme-liste">
        {% for theme in listeTheme %}
        <li>
            <a href="{{ url_for('updateTheme', idTheme=theme.idT) }}">
                <button class="theme {{ 'active' if organisateur.idTheme == theme.idT }}" style="background-color: {{ theme.couleurT }};">
                    <i class="material-icons">check</i>
                </button>
            </a>
        </li>
        {% endfor %}
    </ul>
</article>

<!-- les modales -->
<div class="modal" id="modalNewApplication">
    <h5 class="titrePartie">Nouvelle Application</h5>
    <form action="{{ url_for('newApplication') }}" method="POST" enctype=multipart/form-data>
        <section class="center">
            <div class="input-field row">
                <label for="team-name">Nom <span class="red-text">*</span></label>
                {{ form_applicationNew.nom(type="text", class="grey-text validate", maxlength=50) }}
            </div>
            <div class="input-avatar-container row">
                <label for="app-logo" class="input-avatar z-depth-2 btn tooltipped" data-position="right" data-tooltip="Logo" style="background-image: url({{ url_for('static', filename=dirImgLogo+'photo.svg') }})"></label>
                {{ form_applicationNew.logo(type="file", id="app-logo", hidden="True", accept="image/*") }}
            </div>
            <div class="input-avatar-container row">
                <label for="app-background" class="fond input-avatar input-fond z-depth-2 btn tooltipped" data-position="right" data-tooltip="Fond" style="background-image: url({{ url_for('static', filename=dirImgLogo+'panorama.svg') }})"></label>
                {{ form_applicationNew.fond(type="file", id="app-background", hidden="True", accept="image/*") }}
            </div>
        </section>
        <section class="ligneBtn">
            <button class="modal-close waves-effect waves-red btn-flat red">Annuler</button>
            <button type="submit" class="btn green grey-text text-darken-4 waves-effect waves-darken">Ajouter</button>
        </section>
    </form>
</div>

<div class="modal" id="modalSuprApplication">
    <div class="modal-content">
        <h4>Vous êtes sur le point de supprimer cette application.</h4>
        <h5>Êtes vous sur de vouloir continuer ?</h5>
    </div>
    <div class="ligneBtn">
        <button type="reset" class="modal-close waves-effect waves-darken btn-flat red">Annuler</button>
        <a href="{{ url_for('suprApplication', idApplication=2) }}" class="waves-effect waves-darken btn-flat green">Confirmer</a>
    </div>
</div>
{% endblock %}
